## Make the dataframe including the green algae information for the each years and regions
- Date : Mar 22, 2023
- Author : JaeEun Yoo

In [1]:
import os
import glob
import pandas as pd
import shutil
from itertools import repeat
import itertools

In [2]:
add_file = '../샘플데이터/09. 물환경정보시스템 - 녹조(조류)정보/녹조(조류)정보주소.xlsx'
data = pd.read_excel(add_file,sheet_name=None)
sheet_names = [k for k in data.keys()]
sheet_names

['상수원구간', '친수활동구간', '조류관찰지점']

In [3]:
# Get the address
addr = pd.DataFrame()
for s in sheet_names:
    df = pd.read_excel(add_file,sheet_name=s)
    df['데이터구분'] = list(repeat(s,len(df)))
    addr = pd.concat([addr,df])
addr = addr.reset_index(drop=True)

In [4]:
# Load the dataframe
file_01 = '../샘플데이터/09. 물환경정보시스템 - 녹조(조류)정보/상수원구간일자료_2000-2022.csv'
file_02 = '../샘플데이터/09. 물환경정보시스템 - 녹조(조류)정보/조류관찰지점일자료_2012-2022.csv'
file_03 = '../샘플데이터/09. 물환경정보시스템 - 녹조(조류)정보/친수활동구간일자료_2007-2022.csv'
df_01 = pd.read_csv(file_01,encoding='cp949')
df_01['데이터구분'] = list(repeat(sheet_names[0],len(df_01)))
df_02 = pd.read_csv(file_02, encoding='cp949')
df_02['데이터구분'] = list(repeat(sheet_names[1],len(df_02)))
df_03 = pd.read_csv(file_03, encoding='cp949')
df_03['데이터구분'] = list(repeat(sheet_names[2],len(df_03)))

In [5]:
df = pd.concat([df_01,df_02,df_03]).reset_index(drop=True)

In [6]:
res_addr = []
for d in df.iloc:
    region = d['지점명']
    loc = d['채수위치']
    cate = d['데이터구분']
    res_addr.append(addr[(addr['지점명']==region) & (addr['조사지점']==loc)]['주소'].iloc[0])

In [7]:
df['주소'] = res_addr

In [10]:
c = df.keys().to_list()
cols = [c[0],c[1],c[2],c[-1],c[-2]]
cols.extend(c[3:-2])

In [14]:
df = df.reindex(cols,axis=1)
df

,분류,지점명,채수위치,주소,데이터구분,조사일,수온(℃),pH,DO(㎎/L),투명도,탁도,Chl-a (㎎/㎥),유해남조류 세포수 (cells/㎖),Microcystis,Anabaena,Oscillatoria,Aphanizomenon,지오스민,2MIB,Microcystin-LR (μg/L)
0,호소,대청호,문의,충청북도 청주시 상당구 문의면 상장리,상수원구간,2003.03.05,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,호소,대청호,문의,충청북도 청주시 상당구 문의면 상장리,상수원구간,2003.03.26,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,호소,대청호,문의,충청북도 청주시 상당구 문의면 상장리,상수원구간,2003.04.09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,호소,대청호,문의,충청북도 청주시 상당구 문의면 상장리,상수원구간,2003.04.28,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,호소,대청호,문의,충청북도 청주시 상당구 문의면 상장리,상수원구간,2003.05.07,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47070,하천,한강,성산대교,서울특별시 영등포구 양화동,조류관찰지점,2022.11.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47071,하천,한강,성산대교,서울특별시 영등포구 양화동,조류관찰지점,2022.12.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47072,하천,한강,성산대교,서울특별시 영등포구 양화동,조류관찰지점,2022.12.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47073,하천,한강,성산대교,서울특별시 영등포구 양화동,조류관찰지점,2022.12.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47074,하천,한강,성산대교,서울특별시 영등포구 양화동,조류관찰지점,2022.12.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_csv('../results_data/09_녹조조류정보_2000_2022.csv',index=False,encoding='cp949')